{% extends  layout %}
{% block  content %}
<section class="py-5 text-center container">
  <h1>PRAc (Calculated PANEL REACTIVE ANTIBODY)</h1>
  <div class="mb-3">
  <label for="txt_clase1" class="form-label">Clase I</label>
  <textarea class="form-control" id="txt_clase1" placeholder=""></textarea>
  <small>(Ejemplos: A31 B44 A24 )</small> <br>
  <button type="button" id="btn_class1" class="btn btn-primary">Calcular</button>
  <div class="alert alert-success" id="info" role="alert" style="display:none">
    
  </div>
</div>
<div class="mb-3">
  <label for="txt_clase2" class="form-label">Clase II</label>
  <textarea class="form-control" id="txt_clase2" placeholder=""></textarea>
    <small>(Ejemplos: DR31 DQ44)</small> <br>
  <button type="button" id="btn_class2" class="btn btn-primary">Calcular</button>
  <div class="alert alert-success" id="info2" role="alert" style="display:none">
    
  </div>
</div>
</section>

{% endblock %}