{% extends  layout %}
{% block  content %}
<section class="py-5 container">
  <h1 class="text-center mb-5">PRAc (Calculated PANEL REACTIVE ANTIBODY)</h1>


<div class="card mb-3">
  <div class="card-header">
    Clase I
  </div>
  <div class="card-body">
    <p class="card-text">

        <div class="mb-3">
          <textarea class="form-control" id="txt_clase1" placeholder=""></textarea>
          <small>(Ejemplos: A31 B44 A24 )</small> <br>

      </div>
    </p>
          <button type="button" id="btn_class1" class="btn btn-primary">Calcular</button>
          <div class="spinner-border" id="class1_spinner" role="status" style="dislay:none">
            <span class="visually-hidden">Loading...</span>
          </div>


          <div class="alert alert-success mt-3" id="info" role="alert" style="display:none"></div>
    
  </div>
</div>



<div class="card mb-3">
  <div class="card-header">
    Clase II
  </div>
  <div class="card-body">
    <p class="card-text">

        <div class="mb-3">
  <textarea class="form-control" id="txt_clase2" placeholder=""></textarea>
    <small>(Ejemplos: DR31 DQ44)</small> <br>

      </div>
    </p>
          <button type="button" id="btn_class2" class="btn btn-primary">Calcular</button>
          <div class="spinner-border" id="class2_spinner" role="status" style="dislay:none">
            <span class="visually-hidden">Loading...</span>
          </div>


          <div class="alert alert-success mt-3" id="info2" role="alert" style="display:none">
    
  </div>
</div>


</section>

{% endblock %}